<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SparkBANK</title>
  <link rel="stylesheet" href="/css/style.css">
  <!-- icons from fontawesomewebsite !-->
  <script src="https://kit.fontawesome.com/f8a21b523e.js" crossorigin="anonymous"></script>
  <!-- font-family from google fonts !-->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <!-- bootstrap website link !-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- javascript link from bootsrap website!-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
  <section class="colored-section" id="title">
    <div class="container">
    <!-- Nav Bar -->
      <nav class="navbar  navbar-expand-lg navbar-dark navbar-main" id="navbar">
                <a class="navbar-brand" href="/" id="title"><h1>SparkBANK</h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="/Customer"> <h3>Customers</h3></a>
                        </li> 
                        <li class="nav-item">
                          <a class="nav-link" href="/Transform"><h3>Transfer</h3></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/AllTransactions"><h3> AllTransactions </h3></a>
                        </li>
                    </ul>
            </div>
      </nav>
    </div>
</section>