<%- include("partials/header"); -%>

   <div class="row homesec-1">
        <div class="col-lg-3"></div>
        <div class="col-lg-3 welcometext"><h1>Welcome To SparkBank</h1>
            <button type="button" class="btn">Explore Now</button>
        </div>
        <div class="col-lg-6"><img src="https://logimp.files.wordpress.com/2019/01/viral-parmar1-1.gif"></div>
        
   </div>
   
<%- include("partials/footer") -%>