<%- include("partials/header"); -%>
<div class="OneMem">
    <h1> <span>Account</span> <span class="OneMemName"><%= CusInfo.name %></span>  </h1>
    <p> <span> Mail Id :</span> <span class="OneMemName"> <%= CusInfo.email %></span>  </p>
    <p>  <span>  Balance :</span><span class="OneMemName"><%= CusInfo.balance %></span> </p>
    <button type="button" class="btn"> <a href="/Customer">Back</a>  </button>
</div>







